@font-face {
    font-family: Bullpen3D;
    src: url(../font/Bullpen3D.ttf)  format("truetype");
}
*{
    font-family: Bullpen3D;
}
body{
    margin: 0px;
    padding: 0px;
}
.home {
    height: 100vh;
    width: 100vw;
    /*
    background: linear-gradient(170deg, #000000 26%, #100634 44%, #54037e 49%, #a734c7 50%, #7b0093 50%, #8a1f7d 61%, #000000 72%, #000000 79%, #000000 87%, #000000 89%, #000000 89%, #000000 100%);
    */
    background: linear-gradient(-10deg,#000000,#a734c7,#000000);

    display: flex;
    justify-content: center;
    align-items: center;
}

.lofi {
    padding-bottom: 10rem;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial;
    color: #00ffee;
    letter-spacing: -1rem;
    transform: rotate(-10deg) skew(-20deg);
}

.letter {
    display: inline-block;
    animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #9A30B8, 0 0 20px #9A30B8;
    }
    to{
        text-shadow: 0 0 10px #00ffee, 0 0 15px #00ffee;    }


}

.lecteur{
    max-width: 25rem;
    position: absolute;
    margin-top: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lecteur *{
    flex-basis:100%;
}

.lecteur span{
    font-size: 2rem;
    color: #00ffee;
    text-align: center;
}

#btn, #btnSkip{
    margin: 5px;
    font-family: Bullpen3D;
    background-color: #00ffee;
    border: none;
    font-size: 3rem;
    color: #a734c7;
}
#controls{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #00ffee;
}
#volume{
    width: 100%;
}